* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pad {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

button {
  align-self: center;
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.randClrBtn {
  background: linear-gradient(
    90deg,
    rgba(245, 50, 7, 0.9864320728291317) 0%,
    rgba(7, 246, 34, 1) 50%,
    rgba(0, 31, 255, 1) 100%
  );
}

.blackClrBtn {
  background-color: black;
  color:white;
}

.square {
  border: 1px solid lightblue;
}
